# app setup
.env
node_modules

# HTML data
public/courses
public/data

# Plaintext data
course-plaintext
courses-plaintext

# local sync folders
local-skilljar
local-skilljar-paths

# OS stuff
.DS_Store